@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:ital,wght@1,700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.column .is-two-fifths{
    position: relative;
    top: 100px;
}

section{
    height: 84vh;
}

.image{
   width: 400px;
   position: relative;
   left: 5%;
}

.subtitle{
    width: 500px;
    position: absolute;
    right: 61.9%;
    top: 75%;
 }
.control .button{
    width: 544.5px;
}