<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book.forME</title>
</head>
<body>
    <img src="" alt="">
    <h2>O Book.forME é uma plataforma que ajuda a conectar pessoas interessadas em doar livros com aquelas que desejam receber exemplares de forma gratuita</h2>
    <div>
        <form action="">
            <input type="text" placeholder="Email ou Nick">
            <input type="text" placeholder="Senha">
            <button type="submit">Entrar</button>
        </form>
        <a href="">Esqueceu a senha?</a>
        <br>
        <button>Criar nova conta</button>
    </div>
</body>
</html>