<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book.forMe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <section class="section has-background-light is-medium">
        <div class="container">
            <div class="columns is-fullwidth is-vcentered ml-6">
                <div class="column is-5 ml-2">
                    <figure class="image is-3by2">
                        <img src="{{url_for('static', filename='img/logo.png')}}" alt="Descrição da imagem">
                    </figure>
                    <h2 class="subtitle is-three-fifths has-text-centered">
                        <b>Book.forMe: Conectando doadores e receptores de livros gratuitamente.</b>
                    </h2>
                </div>
                <div class="column is-6 mt-6 mr-2">
                    <form action="#">
                        <div class="field">
                            <label class="label">Email ou Nick</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Email ou Nick">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Senha</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="Senha">
                            </div>
                        </div>
                        <div class="field is-grouped">
                                <button class="button is-info is-fullwidth" type="submit">Entrar</button>
                        </div>
                    </form>
                    <div class="has-text-centered">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                    <div class="has-text-centered mt-5">
                        <button class="button is-primary" type="button" onclick="criarNovaConta()">Criar nova conta</button>
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p class="mt-6">
                <strong>Book.forMe</strong> © 2024
            </p>
        </div>
    </footer>
</body>
</html>
